@import "mixins";
@import "themes";

:root.purple {
  @include spread-map($theme-map-purple);
}

:root.green {
  @include spread-map($theme-map-green);
}

:root.dark {
  @include spread-map($theme-map-dark);
}

:root.light {
  @include spread-map($theme-map-light);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 1.4rem;
  color: var(--color-text-main-dark);
  background-image: linear-gradient(
    to bottom right,
    var(--color-gradient-dark),
    var(--color-gradient-light)
  );
  padding: 2rem;
}

h1,
h2 {
  color: var(--color-text-main-light);
}

h1 {
  font-size: 5.2rem;
  font-weight: 100;
}

h2 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 400;
}

.calendar {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  padding: 2rem;

  &__month {
    display: flex;
    align-items: center;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    padding: 2rem;
    margin-bottom: 2rem;

    .month__button {
      margin-left: auto;
      display: flex;
      gap: 1rem;

      &--previous,
      &--next {
        all: unset;
        width: 8rem;
        height: 4rem;
        text-align: center;
        font-size: 1.8rem;
        color: var(--color-text-main-light);
        border-radius: 4px;
        background-color: var(--color-background-monthbtns);
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          color: var(--color-text-main-light);
          background-color: var(--color-background-monthbtns-hover);
        }

        &:focus {
          outline: 2px solid var(--color-background-monthbtns-focus);
          outline-offset: 2px;
        }
      }
    }
  }
}
