.calendar {
  background-color: $color-right-dark;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__wrapper {
    background-color: $color-right-medium;
    padding-left: 4rem;
  }

  &__month {
    font-size: 2.8rem;
    font-weight: 700;
    background-color: $color-right-light;
    padding: 1rem;
    margin-bottom: 4rem;
  }
}

.organiser {
  display: grid;
  grid-template-columns: 5rem repeat(7, 1fr);
  grid-template-rows: 6rem repeat(6, 1fr);

  &__static {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-background-week;
    color: $color-left-text-light;

    &-day {
      background-color: $color-background-day;
      font-weight: 700;
    }

    span {
      display: inline-block;
      transform: rotate(-90deg);
    }
  }

  &__static:nth-child(9) {
    grid-column: 1;
    grid-row: 2;
  }
  &__static:nth-child(10) {
    grid-column: 1;
    grid-row: 3;
  }
  &__static:nth-child(11) {
    grid-column: 1;
    grid-row: 4;
  }
  &__static:nth-child(12) {
    grid-column: 1;
    grid-row: 5;
  }
  &__static:nth-child(13) {
    grid-column: 1;
    grid-row: 6;
  }
  &__static:nth-child(14) {
    grid-column: 1;
    grid-row: 7;
  }

  &__dynamic {
    display: grid;
    grid-template-columns: 2.4rem 1fr;
    grid-template-rows: repeat(7, 1fr);
    background-color: $color-calendar-light;
  }

  &__date {
    background-color: $color-background-date;
    font-weight: 700;
    color: $color-left-text-light;
    text-align: center;
    padding: 0.6rem;
  }

  &__divider {
    background-color: $color-calendar-dark;
  }

  &__checkbox {
    padding-top: 0.8rem;
    vertical-align: bottom;
  }

  &__task {
    border-right: $color-divider;
  }

  &__checkbox {
    justify-self: center;
  }

  &__checkbox,
  &__task {
    border-bottom: 1px solid $color-divider;
  }
}
