.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1rem;

  &__title {
    grid-column: 2;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
  }
}

.profile {
  grid-column: 1;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;
  column-gap: 2rem;

  color: var(--color-text-main-light);

  &__avatar {
    all: unset;
    position: relative;
    grid-column: 1;
    grid-row: 1 / -1;
    align-self: center;
    cursor: pointer;

    &:focus {
      outline: 2px solid var(--color-background-monthbtns-focus);
      outline-offset: 2px;
    }

    &::after {
      position: absolute;
      content: "";
      display: inline-block;
      background-image: url(../img/gear-solid.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      bottom: 4px;
      right: 4px;
      height: 2.4rem;
      width: 2.4rem;
    }

    &:hover::after {
      animation-name: spin;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  &__avatar-img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
  }

  &__username {
    align-self: flex-end;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__location {
    align-self: flex-start;
    font-size: 1.6rem;
  }

  &__weather {
    grid-column: 3;
    grid-row: 1 / -1;
    display: flex;
    align-items: center;
  }

  &__weather-img {
    height: 10rem;
    width: 10rem;
  }

  &__weather-text {
    font-size: 2.4rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner-class {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.themes {
  align-self: center;
  justify-self: center;

  &__btn {
    all: unset;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:active {
      transform: scale(1.2);
    }

    &:focus {
      outline: 2px solid var(--color-background-monthbtns-focus);
      outline-offset: 2px;
    }

    &--purple {
      background-image: linear-gradient(
        to bottom right,
        #6656a3 0 50%,
        #50a1d4 50% 100%
      );
    }

    &--green {
      background-image: linear-gradient(
        to bottom right,
        #375f34 0 50%,
        #c0db48 50% 100%
      );
    }

    &--dark {
      background-image: linear-gradient(
        to bottom right,
        #1e1e29 0 50%,
        #0a0a0a 50% 100%
      );
    }

    &--light {
      background-image: linear-gradient(
        to bottom right,
        #fafcff 0 50%,
        #959da5 50% 100%
      );
    }
  }
}
