.organiser {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 6rem 1fr;

  border-radius: 16px;
  overflow: hidden;

  &__days {
    grid-column: 1 / -1;
    grid-row: 1;

    display: grid;
    grid-template-columns: 6rem repeat(7, 1fr);

    .day {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--color-background-day);

      font-weight: 700;
      color: var(--color-text-main-light);
    }
  }

  &__weeks {
    grid-column: 1;
    grid-row: 2;

    display: grid;
    grid-template-rows: repeat(6, 1fr);

    .week {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--color-background-week);

      color: var(--color-text-main-light);

      span {
        display: inline-block;
        transform: rotate(-90deg);
      }
    }
  }

  &__dates {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
