$--color-gradient-light: --color-gradient-light;
$--color-gradient-dark: --color-gradient-dark;

$--color-text-main-light: --color-text-main-light;
$--color-text-main-dark: --color-text-main-dark;
$--color-text-input: --color-text-input;

$--color-background-monthbtns: --color-background-monthbtns;
$--color-background-monthbtns-hover: --color-background-monthbtns-hover;
$--color-background-monthbtns-focus: --color-background-monthbtns-focus;

$--color-background-day: --color-background-day;
$--color-background-week: --color-background-week;
$--color-background-date: --color-background-date;
$--color-background-date-current: --color-background-date-current;
$--color-background-date-bar: --color-background-date-bar;

$--color-tasks-background: --color-tasks-background;
$--color-divider: --color-divider;

$--color-tasks-btn-background: --color-tasks-btn-background;
$--color-tasks-btn-background-hover: --color-tasks-btn-background-hover;
$--color-tasks-btn-background-focus: --color-tasks-btn-background-focus;

$--color-background-checkbox: --color-background-checkbox;
$--color-border-checkbox: --color-border-checkbox;
$--color-checkbox-checked: --color-checkbox-checked;
$--color-checkbox-focus: --color-checkbox-focus;
$--color-checkbox-disabled: --color-checkbox-disabled;

$--color-modal-input-background: --color-modal-input-background;
$--color-modal-focus: --color-modal-focus;
$--color-modal-buttons: --color-modal-buttons;
$--color-modal-buttons-hover: --color-modal-buttons-hover;
